In [1]:
import numpy as np
import pandas as pd

# Ejercicio 1:
Construir un objeto de series de tiempo con el índice igual al año de los juegos olimpicos.

In [2]:
# Cargo DataFrame
datos_crudos = pd.read_csv('Summer-Olympic-medals-1976-to-2008.csv')
# Copio el original para poder probar transformaciónes
Olimpiadas = datos_crudos.copy()
Olimpiadas.tail()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
15428,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008.0,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008.0,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008.0,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008.0,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [3]:
shape_antes = Olimpiadas.shape

In [4]:
# Remuevo todos los valores nan y reseteo el index, para poder hacer 
# loops mas adelante sin que salte un error:
Olimpiadas = Olimpiadas.dropna()
Olimpiadas.reset_index(drop=True, inplace=True)
shape_despues = Olimpiadas.shape

In [5]:
# Viendo la diferencia, vemos que hay 117 "nan" que fueron eliminados:
shape_antes[0] - shape_despues[0]

117

In [6]:
# Veo que tipo de datos tiene la columna "Year" y tranformo de float64 a 
# int64:
Olimpiadas['Year'] = Olimpiadas['Year'].astype('int64')
Olimpiadas

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976,Aquatics,Diving,3m springboard,"K�HLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15311,Beijing,2008,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15312,Beijing,2008,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15313,Beijing,2008,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15314,Beijing,2008,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15315,Beijing,2008,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [7]:
# Defino la serie que va a contener las fechas de cada participación en 
# las olimpiadas, transformada a formato Datetime y filtrando solamente 
# el año:
fechas= pd.DatetimeIndex(Olimpiadas['Year']).year
fechas

Int64Index([1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970,
            ...
            1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970, 1970],
           dtype='int64', name='Year', length=15316)

In [8]:
# Creo la serie de pandas, que utiliza como indice la fecha de participacion de cada atleta:
Olimpiadas_participacion = pd.Series(Olimpiadas['Athlete'].values, index = fechas)
Olimpiadas_participacion

Year
1970             K�HLER, Christa
1970         KOSENKOV, Aleksandr
1970        BOGGS, Philip George
1970    CAGNOTTO, Giorgio Franco
1970      WILSON, Deborah Keplar
                  ...
1970          GUENOT, Christophe
1970         KVIRKELIA, Manuchar
1970            RAHIMOV, Vitaliy
1970              GUENOT, Steeve
1970               LOPEZ, Mijain
Length: 15316, dtype: object

# Ejercicio 2:
Separar nombres de apellidos en dos columnas distintas usando la coma como separador.

In [9]:
# Defino la serie que va a contener la columna "Athlete" del dataframe
NomAp = Olimpiadas['Athlete']
NomAp.head()

0             K�HLER, Christa
1         KOSENKOV, Aleksandr
2        BOGGS, Philip George
3    CAGNOTTO, Giorgio Franco
4      WILSON, Deborah Keplar
Name: Athlete, dtype: object

In [10]:
# Hago el split entre nombre y apellido. Todavia no voy a crear las 
# variables con nombre y apellido. Lo hago para obtener 2 objetos en el 
# caso de tener nombre y apellido, y 1 cuando no tengo nombre o apellido.
# Hago esto para mas adelante poder eliminar estos casos, ya que mas 
# adelante generaran error al intentar agregar las nuevas columnas al 
# dataframe:
NomAp_separado = NomAp.str.split(',')
NomAp_separado.reset_index()
NomAp_separado

0                 [K�HLER,  Christa]
1             [KOSENKOV,  Aleksandr]
2            [BOGGS,  Philip George]
3        [CAGNOTTO,  Giorgio Franco]
4          [WILSON,  Deborah Keplar]
                    ...
15311          [GUENOT,  Christophe]
15312         [KVIRKELIA,  Manuchar]
15313            [RAHIMOV,  Vitaliy]
15314              [GUENOT,  Steeve]
15315               [LOPEZ,  Mijain]
Name: Athlete, Length: 15316, dtype: object

In [11]:
# Hago un loop, que cada vez que acceda a un indice la serie NomAp_separado
# que sea diferente de 2, elimine esa fila del dataframe:
for h in range(len(NomAp_separado)):
    if len(NomAp_separado[h]) != 2:
         Olimpiadas.drop([h], inplace = True)

In [12]:
# Vuelvo a resetear el indice para no tener problemas con los loos que se 
# hacen mas adelante:
Olimpiadas.reset_index(drop=True, inplace=True)

In [13]:
# Nuevamente, redefino la serie que va a contener apellidos y nombres de 
# atletas, pero esta vez sin las filas que tienen algun valor faltante.
# Tambien hago el split nuevamente entre nombres y apellidos, ocupando
# las mismas variables que antes.
NomAp = Olimpiadas['Athlete']
NomAp.head()
NomAp_separado = NomAp.str.split(',')
NomAp_separado.reset_index()
NomAp_separado

0                 [K�HLER,  Christa]
1             [KOSENKOV,  Aleksandr]
2            [BOGGS,  Philip George]
3        [CAGNOTTO,  Giorgio Franco]
4          [WILSON,  Deborah Keplar]
                    ...
15204          [GUENOT,  Christophe]
15205         [KVIRKELIA,  Manuchar]
15206            [RAHIMOV,  Vitaliy]
15207              [GUENOT,  Steeve]
15208               [LOPEZ,  Mijain]
Name: Athlete, Length: 15209, dtype: object

In [14]:
# Genero la lista con los valores de todos los apellidos en la serie NamAp:
Apellidos = []
for i in range(len(NomAp_separado)):
    Apellidos.append(NomAp_separado[i][0])
    i += 1
Apellidos

['K�HLER',
 'KOSENKOV',
 'BOGGS',
 'CAGNOTTO',
 'WILSON',
 'LOUGANIS',
 'VAYTSEKHOVSKAYA',
 'POTTER-MCINGVALE',
 'DIBIASI',
 'ALEINIK',
 'KNAPE-LINDBERGH',
 'CHANDLER',
 'BABASHOFF',
 'SHAW',
 'PRIEMER',
 'HOLLAND',
 'SMIRNOV',
 'ANKE',
 'BABASHOFF',
 'TH�MER',
 'SMITH',
 'ROCCA',
 'GOODELL',
 'MCKEE',
 'EVANS',
 'MONTGOMERY',
 'VOGEL',
 'MATTHES',
 'NABER',
 'ROCCA',
 'KRAUS',
 'BRIGITHA',
 'DUNNE',
 'NABER',
 'HEMPEL',
 'MAC DONALD',
 'BOGDANOV',
 'HALL',
 'SMITH',
 'KOSHEVAYA',
 'GARAPICK',
 'WEINBERG',
 'MONTGOMERY',
 'RASKATOV',
 'ENDER',
 'JARDIN',
 'YOZAITIS',
 'WRIGHT',
 'KRYLOV',
 'DOWNIE',
 'WILKIE',
 'PEYTON',
 'MONTGOMERY',
 'TAUBER',
 'CLARK',
 'AMUNDRUD',
 'ENDER',
 'BRUNER',
 'GIBSON',
 'NABER',
 'ENDER',
 'BOGLIOLI',
 'SMITH',
 'VOGEL',
 'SMITH-SLOAN',
 'COOK-HOGG',
 'POLLACK',
 'BOTTOM',
 'TH�MER',
 'RICHTER',
 'FURNISS',
 'KOSHEVAYA',
 'GREGG',
 'ENDER',
 'MCCLATCHEY',
 'RUSANOVA',
 'STRACHAN',
 'RASKATOV',
 'TAUBER',
 'GOODELL',
 'PICKELL',
 'HARRIGAN',
 'KOTHER-GABRIEL',
 'POLLACK',
 'MONTGOMERY',
 'YURCHENYA',
 'TREIBER',
 'RUSANOVA',
 'BOGLIOLI',
 'BRUNER',
 'BABASHOFF',
 'TREIBER',
 'HENCKEN',
 'POLLACK',
 'BRIGITHA',
 'SIERING',
 'BABASHOFF',
 'KOPLYAKOV',
 'COLELLA',
 'NABER',
 'BABASHOFF',
 'GARAPICK',
 'STEINBACH',
 'STERKEL',
 'NOCKE',
 'NOCKE',
 'HENCKEN',
 'ANKE',
 'POLLACK',
 'KUSCH',
 'SMITH',
 'CORSIGLIA',
 'RICHTER',
 'HACKETT',
 'WILKIE',
 'BRINKLEY',
 'HENCKEN',
 'NABER',
 'FURNISS',
 'JEZEK',
 'PRIEMER',
 'JARDIN',
 'RICHTER',
 'ENDER',
 'DE ZWARTE',
 'VEER',
 'KROON',
 'HORKAI',
 'CASTAGNOLA',
 'SMITS',
 'STROBOER',
 'CSAPO',
 'CSERVENYAK',
 'GERENDAS',
 'BUUNK',
 'SUDAR',
 'KENEZ',
 'MOLNAR',
 'BOEGSCHOTEN',
 'SAROSI',
 'DEL DUCA',
 'SIMEONI',
 'ALBERANI SAMARITANI',
 'BARACCHINI',
 'PANERAI',
 'MARSILI',
 'DE MAGISTRIS',
 'KONRAD',
 'TOONEN',
 'DE MAGISTRIS',
 'SZIVOS',
 'LANDEWEERD',
 'FARAGO',
 'HOEPELMAN',
 'GHIBELLINI',
 'D',
 'VAN ZEELAND',
 'RYON',
 'PACE',
 'MICHINAGA',
 'FERRARI',
 'RUSTAMOVA',
 'KOVPAN',
 'STROPAHL-STREIDT',
 'RICHTER-IRRGANG',
 'ROBINSON',
 'HERRMANN',
 'FRAZIER',
 'WITSCHAS-ACKERMANN',
 'SCHALLER-KLIER',
 'JUANTORENA',
 'HILDENBRAND',
 'STECHER',
 'RIDDICK',
 'BODNER-LASER',
 'WARTENBERG',
 'EVANS',
 'HAMPTON',
 'SEDYKH',
 'POLLAK',
 'AVILOV',
 'STONES',
 'WOHLHUTER',
 'ANISIMOVA',
 'KAZANKINA',
 'WERNER',
 'THIEME',
 'STECHER',
 'BARYSHNIKOV',
 'JOY',
 'BONDARCHUK',
 'BORZOV',
 'CHTEREVA',
 'MALINOWSKI',
 'HOFFMEISTER',
 'INGRAM',
 'BUTTS',
 'PARKS',
 'ANISIMOVA',
 'SCHMIDT',
 'SCHMIDT',
 'BRYANT',
 'OELSNER-G�HR',
 'WELLMANN',
 'POWELL',
 'BESFAMILNAYA',
 'PODLAS',
 'KOLESNIKOV',
 'WALKER',
 'ZINN',
 'KAZANKINA',
 'CIERPINSKI',
 'KRIEG',
 'BODENDORF',
 'PFEIFER',
 'VAN DAMME',
 'VAN DAMME',
 'DAVENPORT',
 'BAUTISTA ROCHA',
 'SCHLAAK-JAHL',
 'RICHTER-IRRGANG',
 'ECKERT-W�CKEL',
 'PIETRZYK',
 'BREHMER-LATHAN',
 'CHRISTOVA-TODOROVA',
 'SIEGL',
 'MALETZKI',
 'LEBEDEVA',
 'KRATSCHMER',
 'BEYER',
 'BAUMGARTL',
 'CHISTYAKOVA-SOKOLOVA',
 'MIRONOV',
 'SHINE',
 'MOSES',
 'JENNER',
 'GARDERUD',
 'SLUSARSKI',
 'VOIGT',
 'HAMPTON',
 'SILOVS',
 'FRENKEL',
 'QUARRIE',
 'ROBERTS',
 'FRAZIER',
 'HELTEN',
 'SANEEV',
 'STROPAHL-STREIDT',
 'VIREN',
 'ECKERT-W�CKEL',
 'BREHMER-LATHAN',
 'VIREN',
 'JAREMSKI',
 'WILLIAMS',
 'KURRAT',
 'FOSTER',
 'NEMETH',
 'KLIMOVOCHA',
 'SHORTER',
 'CHIZHOVA',
 'AKSENOVA',
 'MEGELEA',
 'QUAX',
 'REIMANN',
 'WSZOLA',
 'NEWHOUSE',
 'FUCHS',
 'GLANCE',
 'ROHDE',
 'MCMILLAN',
 'BLAGOEVA-DIMITROVA',
 'GAVRILENKO',
 'LISMONT',
 'POSSEKEL',
 'STECHER',
 'BROWN',
 'RICHTER-IRRGANG',
 'QUARRIE',
 'LOPES',
 'NEWHOUSE',
 'SIITONEN',
 'KALLIOM�KI',
 'KOLESNIKOVA-ILYINA',
 'DRUT',
 'DE OLIVEIRA',
 'SPIRIDONOV',
 'HINZMANN',
 'BORZOV',
 'ALFEEVA',
 'SZEWINSKA',
 'FIBINGEROVA',
 'KOKOT',
 'HOFMEISTER',
 'SIMEONI',
 'SCHMID',
 'GREENE-JILES',
 'VERGOVA-PETKOVA',
 'JUANTORENA',
 'WILKINS',
 'SAPENTER',
 'CASANAS RAMIREZ',
 'KLAPEZYNSKI-BRUNS',
 'JONES',
 'HELTEN',
 'AKSININ',
 'PROROCHENKO',
 'CRAWFORD',
 'ZHARKOVA-MASLAKOVA',
 'KRONIGER',
 'BECKER-STEINER',
 'GEORGIJEVSKI',
 'SKERLATOVA',
 'OVECHKINA',
 'MIKHAILOVA',
 'LIEBERMAN',
 'ZAKHAROVA-NADIROVA',
 'MARQUIS',
 'MAY',
 'LEWIS',
 'KORKIYA',
 'KUPCHAK',
 'METODIEVA',
 'DANTLEY',
 'JELOVAC',
 'KURVYAKOVA',
 'GIUROVA',
 'COSIC',
 'SHEPPARD',
 'FERYABNIKOVA',
 'RUPSHENE',
 'ROJCEWICZ',
 'CARR',
 'MYSHKIN',
 'MAKAVEEVA',
 'ARZAMASKOV',
 'SHUVAEVA-OLKHOVA',
 'DAVIS',
 'BOGDANOVA',
 'BROGDEN',
 'SOLMAN',
 'BARISHEVA-KOROSTELEVA',
 'BELOV',
 'SLAVNIC',
 'DELIBASIC',
 'GRUNFELD',
 'DILOVA-BRAYNOVA',
 'SUKHARNOVA',
 'SEMENOVA',
 'VARAJIC',
 'LAGARDE',
 'BUCKNER',
 'ZAKHAROVA',
 'EDESHKO',
 'TKACHENKO',
 'ZHARMUKHAMEDOV',
 'KNEGO',
 'GOLTCHEVA',
 'ROBERTS',
 'BELOV',
 'ZIZIC',
 'HARRIS',
 'HEAD',
 'HUBBARD',
 'MAKEEV',
 'DUNKLE',
 'MEYERS',
 'JERKOV',
 'STOYANOVA',
 "O'CONNOR",
 'STOYANOVA',
 'SALNIKOV',
 'ARMSTRONG',
 'KICANOVIC',
 'KLIMOVA',
 'MILOSERDOV',
 'ZHIGILY',
 'DAUNENE',
 'DALIPAGIC',
 'YORDANOVA',
 'CHTARKELOVA',
 'SIMPSON',
 'GAMARRO',
 'SAVCHENKO',
 'SZCZERBA',
 'KOLEV',
 'MARTINEZ SANCHEZ',
 'TATE',
 'KOSEDOWSKI',
 'TOROSYAN',
 'LEONARD',
 'COWDELL',
 'STEVENSON',
 'PAREDES',
 'MALDONADO',
 'HERRERA VERA',
 'DUVALON CARRION',
 'SPINKS',
 'DAFINOIU',
 'RANDOLPH',
 'HERNANDEZ PADRON',
 'SIMON',
 'RUSEVSKI',
 'ZILBERMAN',
 'GARBEY',
 'GU',
 'RISKIEV',
 'HILL',
 'ALDAMA CABRERA',
 'BLAZYNSKI',
 'BACHFELD',
 'SOLOMIN',
 'LI',
 'KACAR',
 'GORTAT',
 'POOLTARAT',
 'MOONEY',
 'NOWAKOWSKI',
 'CUTOV',
 'RYBICKI',
 'SORIA CABRERA',
 'NASTAC',
 'RYBAKOV',
 'SKRICEK',
 'HELM',
 'ROGOV',
 'OPARA',
 'DEGTYAREV',
 'DIBA',
 'GOPOVA-TROFIMOVA',
 'CHUKHRAI',
 'DIBA',
 'BISCHOF',
 'LJUBEK',
 'MENENDEZ RODRIGUEZ',
 'ZIRZOW',
 'ROMANOVSKY',
 'MATTERN',
 'BAKO',
 'DUVIGNEAU',
 'PFEFFER',
 'PETRENKO',
 'SERHEI',
 'LEHNERT',
 'SZABO',
 'YURCHENKO',
 'FILATOV',
 'OLBRICHT',
 'CSAPO',
 'BUDAY',
 'NAGORNYI',
 'NAGORNYI',
 'VINOGRADOV',
 'SIMIONOV',
 'K�STER',
 'MOROZOV',
 'RAJNAI',
 'KORSHUNOVA',
 'HELM',
 'FREY',
 'LJUBEK',
 'MALIHIN',
 'BUDAY',
 'RAJNAI',
 'RAMOS MISIONE',
 'ZIRZOW',
 'ROMANOVSKY',
 'DANIELOV',
 'WOOD',
 'SZTANITY',
 'HELM',
 'FREY',
 'LOPEZ DIAZ FLOR',
 'OLBRICHT',
 'VINOGRADOV',
 'MATTERN',
 'WICHMANN',
 'ESTEBAN CELLORIO',
 'GRONOWICZ',
 'PETRENKO',
 'KREFT-ALEKSEEVA',
 'MARTINELLI',
 'SZURKOWSKI',
 'NOWICKI',
 'CHAPLYGIN',
 'BLAUDZUN',
 'MYTNIK',
 'LUND',
 'HANSEN',
 'CHUKANOV',
 'JOHANSSON',
 'SZOZDA',
 'KAMINSKY',
 'PIKKUUS',
 'FRANK',
 'NOWICKI',
 'OSOKIN',
 'TKAC',
 'HALLAM',
 'MORELON',
 'GR�NKE',
 'PONSTEEN',
 'HUSCHKE',
 'GESCHKE',
 'BENNETT',
 'VONHOF',
 'PEROV',
 'BANBURY',
 'CROKER',
 'BRAUN',
 'SCHUHMACHER',
 'VAARTEN',
 'LUTZ',
 'PETRAKOV',
 'SOKOLOV',
 'BRAUN',
 'FREDBORG',
 'STUECKELBERGER',
 'GURNEY',
 'BOLDT',
 'RAMSEIER',
 'GRILLO',
 'STUECKELBERGER',
 'MORKIS',
 'LEHMANN',
 'MASTER',
 'BOLDT',
 'KLIMKE',
 'KLIMKE',
 'PLUMB',
 'DAVIDSON',
 'RETHEMEIER',
 'PLUMB',
 'COFFIN',
 'ROYCROFT',
 'AMMERMANN',
 'PIGOTT',
 'TAUSKEY',
 'BL�CKER',
 'ROYCROFT',
 'SCHULTZ',
 'COFFIN',
 'SCHULTZ',
 'BENNETT',
 'SCHOCKEM�HLE',
 'VAILLANCOURT',
 'SCHOCKEM�HLE',
 'MATHY',
 'ROZIER',
 'CUEPPER',
 'SCHOCKEM�HLE',
 'WINKLER',
 'MATHY',
 'VAN PAESSCHEN',
 'S�NKSEN',
 'ROGUET',
 'WAUTERS',
 'ROCHE',
 'PAROT',
 'PUSCH',
 'NILCA',
 'NOVIKOVA-BELOVA',
 'MONTANO',
 'MONTANO',
 'FISCHER',
 'BACH',
 'KAUTER',
 'HERBSTER-JOSLAND',
 'NIKONOVA',
 'DAL ZOTTO',
 'VON ESSEN',
 'EVEQUOZ',
 'POP',
 'BURTSEV',
 'MARIN',
 'COLETTI',
 'PIETRUSZKA',
 'TRINQUET',
 'COLLINO',
 'DAL ZOTTO',
 'POFFET',
 'BEHR',
 'NAZLYMOV',
 'H�GSTR�M',
 'GIGER',
 'MAROS',
 'REVENU',
 'PUSCH',
 'VINOKUROV',
 'MONTANO',
 'REICHERT',
 'HEIN',
 'TALVARD',
 'SCHWARCZENBERGER',
 'ARCIDIACONO',
 'JACOBSON',
 'HEHN',
 'KROVOPUSKOV',
 'KOVACS',
 'KNYAZEVA',
 'NOVIKOVA-BELOVA',
 'NO�L',
 'MONTANO',
 'LATRILLE-GAUDIN',
 'KULCSAR',
 'SIDOROVA',
 'ROMANKOV',
 'FLODSTR�M',
 'SIMONCELLI',
 'NAZLYMOV',
 'HEHN',
 'CALATRONI',
 'GILIAZOVA',
 'KROVOPUSKOV',
 'IRIMICIUC',
 'MAFFEI',
 'SUCHANECKI',
 'MUZIO',
 'MUSTATA',
 'BEHR',
 'BOBIS-FERKASINSZKY',
 'SIDYAK',
 'SCHWARCZENBERGER',
 'FLAMENT',
 'REJTO-UJLAKI',
 'GAPAIS-DUMONT',
 'SIDYAK',
 'EDLING',
 'SENS-GORIUS',
 'TALVARD',
 'GR�BNER',
 'RIEDIGER',
 'L�WE',
 'RIEDEL',
 'MOWLIK',
 'BLOKHIN',
 'SZYMANOWSKI',
 'NAZARENKO',
 'HOFFMANN',
 'RESHKO',
 'FOMENKO',
 'OGAZA',
 'SCHADE',
 'KURBJUWEIT',
 'HEIDLER',
 'GRAPENTHIN',
 'KMIECIK',
 'BENIGER',
 'KOLOTOV',
 'MINAEV',
 'H�FNER',
 'ONISHCHENKO',
 'LATO',
 'FEDOROV',
 'TOMASZEWSKI',
 'D�RNER',
 'PROKHOROV',
 'BURYAK',
 'ZVYAGINTSEV',
 'ZMUDA',
 'WAWROWSKI',
 'WEBER',
 'DEYNA',
 'SZARMACH',
 'RUDY',
 'MASZCZYK',
 'VEREMEEV',
 'CROY',
 'BRANSCH',
 'CMIKIEWICZ',
 'KIPIANI',
 'KASPERCZAK',
 'KONKOV',
 'ASTAPOVSKY',
 'MATVIENKO',
 'WIECZOREK',
 'GORGON',
 'LAUCK',
 'TROSHKIN',
 'WEISE',
 'KISCHE',
 'KAJIYAMA',
 'CONSTANTIN',
 'KENMOTSU',
 'KIM',
 'ANDRIANOV',
 'UNGUREANU',
 'ANDRIANOV',
 'KATO',
 'FUJIMOTO',
 'TURISCHEVA',
 'KENMOTSU',
 'TSUKAHARA',
 'DOMBECK',
 'MARCHENKO',
 'TURISCHEVA',
 'KR�KER',
 'TRUSCA',
 'GIENGER',
 'SAADI',
 'EGERVARY',
 'TURISCHEVA',
 'GABOR',
 'COMANECI',
 'BOERIO',
 'KAJIYAMA',
 'ESCHER',
 'KIM',
 'KATO',
 'KENMOTSU',
 'FILATOVA',
 'TURISCHEVA',
 'GRECU',
 'KORMANN',
 'HANSCHKE',
 'GRIGORAS',
 'UNGUREANU',
 'MAGYAR',
 'NIKOLAY',
 'TSUKAHARA',
 'TSUKAHARA',
 'IGARASHI',
 'KORBUT',
 'KIM',
 'KIM',
 'ANDRIANOV',
 'KRYSSIN',
 'HELLMANN',
 'ANDRIANOV',
 'KISCHE',
 'MACK',
 'COMANECI',
 'DOMBECK',
 'UNGUREANU',
 'ANDRIANOV',
 'COMANECI',
 'MARKELOV',
 'BR�CKNER',
 'TSUKAHARA',
 'KATO',
 'GROZDOVA',
 'MARCHENKO',
 'ANDRIANOV',
 'DITYATIN',
 'DITYATIN',
 'TIKHONOV',
 'KORBUT',
 'NIKOLAY',
 'KLOTZ',
 'COMANECI',
 'GERSCHAU',
 'J�GER',
 'TSUKAHARA',
 'ANDRIANOV',
 'COMANECI',
 'BERZSENYI',
 'KUSHNIRYUK',
 'MEGYERI',
 'FEDYUKIN',
 'KUCHTA',
 'BUJDOSO',
 'COSMA',
 'RICHTER-HOCHMUT',
 'ANPILOGOV',
 'PENU',
 'KRAVTSOV',
 'ISHCHENKO',
 'BUROSCH',
 'BOBRUS-PARADNIK',
 'ILYIN',
 'REZANOV',
 'VOINEA',
 'NAGY',
 'LITOSHCHENKO',
 'SHABANOVA',
 'SHERSTYUK-TIMOSHKINA',
 'KARLOVA',
 'FOLKER',
 'VADASZ',
 'SHUBINA',
 'KRETZSCHMAR',
 'KLEMPEL',
 'STOCKL',
 'TOMIN',
 'LAGUTIN',
 'TIETZ',
 'GRABOVSCI',
 'SZYMCZAK',
 'GASSY',
 'PASKUY',
 'TUDOSIE',
 'MICHAELIS',
 'MAKSIMOV',
 'GATU',
 'NAGY',
 'GLUSHCHENKO',
 'UHLIG',
 'PANCHUK',
 'BADOREK',
 'TURCHINA',
 'KEZI',
 'KIDYAEV',
 'ANTCZAK',
 'ANGYAL',
 'CHESAITITE-NENENENE',
 'CHERNYSHOV',
 'LOBOVA',
 'CIESLA',
 'ROZMIAREK',
 'SOKOLOWSKI',
 'PRZYBYSZ',
 'ZIELINSKI',
 'VOSS',
 'MAKARETS-KOCHERGINA',
 'WOJCZAK',
 'NEMETH',
 'GUNES',
 'LICU',
 'MUNTEANU',
 'TOTH-HARSANYI',
 'MATZ',
 'LELKES',
 'BRZOZOWSKI',
 'ROST',
 'KRAUSE',
 'MELCER',
 'GMYREK',
 'BIRTALAN',
 'KICSID',
 'SIEFERT',
 'CSIK',
 'STERBINSZKY',
 'KALUZINSKI',
 'KLIMOV',
 'LAKI',
 'DRAGANITA',
 'ZAKHAROVA',
 'BEREZHNAYA-ODINOKOVA',
 'ZOBER',
 'PARKIN',
 'WALSH',
 'MARSHALL',
 'MAISTER',
 'WILSON',
 'ACKERLEY',
 'REID',
 'BORREN',
 'CHAUDHRY',
 'MC INTYRE',
 'IRVINE',
 'SMITH',
 'BROWNING',
 'MUNAWAR',
 'KHAN',
 'DANCER',
 'HANEEF',
 'SALIM',
 'MCLEOD',
 'PROCTOR',
 'BELL',
 'MAISTER',
 'SHAIKH',
 'ARSHAD',
 'RILEY',
 'MANNING',
 'ABDUL',
 'AKHTAR',
 'SHERWANI',
 'CHRISTENSEN',
 'HAIGH',
 'ISLAH',
 'PATEL',
 'PATEL',
 'SYED',
 'CHESNEY',
 'DAMAN',
 'SYED',
 'CHARLESWORTH',
 'COOKE',
 'MANZOOR',
 'POOLE',
 'MANZOOR',
 'QAMAR',
 'INESON',
 'HAMMOND',
 'GOLDER',
 'ARCHIBALD',
 'DVOINIKOV',
 'COAGE',
 'UEMURA',
 'TALAJ',
 'NINOMIYA',
 'CHOCHOSHVILI',
 'SONODA',
 'REMFRY',
 'RODRIGUEZ TORRES',
 'ENDO',
 'CHO',
 'KURAMOTO',
 'VIAL',
 'CHANG',
 'R�THLISBERGER',
 'STARBROOK',
 'MARIANI',
 'OBADOV',
 'NEUREUTHER',
 'PARK',
 'NEVZOROV',
 'NOVIKOV',
 'TUNCSIK',
 'KHARSHILADZE',
 'ADAM',
 'LEDNEV',
 'FOX',
 'KANCSAL',
 'PYCIAK-PECIAK',
 'PARKER',
 'STARNOVSKY',
 'SASICS',
 'MARACSKO',
 'BARTU',
 'BARTU',
 'NIGHTINGALE',
 'LEHMANN',
 'MATHESON',
 'G�LDENPFENNIG',
 'DREIFKE',
 'NOACK',
 'PASOKHA',
 'SEVOSTYANOVA',
 'WILSON',
 'TUDORAN',
 'LAU',
 'YAKIMOV',
 'PRUD�HL',
 'COKER',
 'NIEHUSEN',
 'KUZNETSOV',
 'POLEY',
 'PUGOVSKAYA',
 'KROKHINA',
 'YORDANOVA',
 'KARPPINEN',
 'DULEEV',
 'LORENTSON',
 'WENZEL',
 'KNETSCH-K�PKE',
 'J�HRLING',
 'VOCHOSKA',
 'SVOJANOVSKY',
 'VASSEVA',
 'THOMAS',
 'SMALLBONE',
 'SCHEIBLICH',
 'YALLOP',
 'STAINES',
 'KLATT',
 'KOLBE',
 'MICSA-MACOVICIUC',
 'CLARK',
 'GUZENKO',
 'WEIGELT-BUHR',
 'MCCARTHY',
 'BRYUNINA',
 'ZOBELT',
 'EBERT',
 'LOHS-KUHN',
 'KARNATZ',
 'WOLFGRAMM',
 'YORDANOVA',
 'D�HN',
 'CROOKS',
 'MAXWELL',
 'KOSTULSKI',
 'ERMOLAEVA',
 'LANDVOIGT',
 'KUZNETSOV',
 'BORCHMANN',
 'AHRENHOLZ',
 'VEBR',
 'WILKE',
 'ALEXANDROVA-POPOVA',
 'DIGMAN',
 'LIND',
 'BERGODD',
 'BOESLER',
 'SCHMIED',
 'DICKIE',
 'WENDISCH',
 'KOZENKOVA',
 'KOLKOVA',
 'MCLEAN',
 'BUTKUS',
 'RODGER',
 'DANIELOWSKI',
 'GUROVA',
 'SEMMLER',
 'KUBAIL',
 'GASAN-DZHALALOV',
 'COFFEY',
 'KAMINSKAITE',
 ...]

In [15]:
# Genero la lista con los valores de todos los nombres en la serie NamAp:
Nombres = []
for j in range(len(NomAp_separado)):
    Nombres.append(NomAp_separado[j][1])
    j += 1
Nombres

[' Christa',
 ' Aleksandr',
 ' Philip George',
 ' Giorgio Franco',
 ' Deborah Keplar',
 ' Gregory',
 ' Elena',
 ' Cynthia',
 ' Klaus',
 ' Vladimir',
 ' Ulrika',
 ' Jennifer Kay',
 ' Shirley Farber',
 ' Timothy Andrew',
 ' Petra',
 ' Stephen',
 ' Andrei',
 ' Hannelore',
 ' Shirley Farber',
 ' Petra',
 ' Rebecca',
 ' Peter Drake',
 ' Brian Stuart',
 ' Alexander Timothy',
 ' Clayton',
 ' James Paul',
 ' Matthew Haynes',
 ' Roland',
 ' John Phillips',
 ' Peter Drake',
 ' Michael',
 ' Enith',
 ' David Michael',
 ' John Phillips',
 ' Claudia',
 ' Gary',
 ' Andrei',
 ' Gary Wayne',
 ' Rebecca',
 ' Marina',
 ' Nancy Ellen',
 ' Wendy Elizabeth',
 ' James Paul',
 ' Vladimir',
 ' Kornelia',
 ' Anne Elizabeth',
 ' Arvidas',
 ' Camille',
 ' Andrei',
 ' Gordon Hunter',
 ' David Andrew',
 ' Kim Marie',
 ' James Paul',
 ' Ulrike',
 ' Barbara Lynny',
 ' Gail',
 ' Kornelia',
 ' Michael Lee',
 ' Cheryl',
 ' John Phillips',
 ' Kornelia',
 ' Wendy Lansbach',
 ' Graham',
 ' Matthew Haynes',
 ' Susan Estelle',
 ' Wendy',
 ' Andrea',
 ' Joseph Stuart',
 ' Petra',
 ' Ulrike',
 ' Bruce Macfarlane',
 ' Marina',
 ' Steven Garrett',
 ' Kornelia',
 ' Alan',
 ' Lyubov',
 ' Rodney',
 ' Vladimir',
 ' Ulrike',
 ' Brian Stuart',
 ' Stephen',
 ' Daniel Lee',
 ' Rosemarie',
 ' Andrea',
 ' James Paul',
 ' Marina',
 ' Birgit',
 ' Lyubov',
 ' Wendy Lansbach',
 ' Michael Lee',
 ' Shirley Farber',
 ' Birgit',
 ' John Frederick',
 ' Andrea',
 ' Enith',
 ' Laura Gail',
 ' Shirley Farber',
 ' Sergei',
 ' Richard Phillip Jr.',
 ' John Phillips',
 ' Shirley Farber',
 ' Nancy Ellen',
 ' Klaus',
 ' Gillian Ann',
 ' Peter',
 ' Peter',
 ' John Frederick',
 ' Hannelore',
 ' Andrea',
 ' Walter',
 ' Shannon',
 ' Robin Marie',
 ' Ulrike',
 ' Robert William',
 ' David Andrew',
 ' Brian',
 ' John Frederick',
 ' John Phillips',
 ' Bruce Macfarlane',
 ' Linda Louise',
 ' Petra',
 ' Anne Elizabeth',
 ' Ulrike',
 ' Kornelia',
 ' Pieter',
 ' Jan Evert',
 ' Evert Gerrit',
 ' Gyorgy',
 ' Luigi',
 ' Hans',
 ' Gijsbert (Gijs)',
 ' Gabor',
 ' Tibor',
 ' Gyorgy',
 ' Antoon G.J.',
 ' Attila',
 ' Gyorgy',
 ' Endre',
 ' Alexander',
 ' Laszlo',
 ' Marcello',
 ' Roldano',
 ' Alberto',
 ' Silvio',
 ' Umberto',
 ' Sante',
 ' Gianni',
 ' Ferenc',
 ' Hendrik (Rik)',
 ' Riccardo',
 ' Istvan',
 ' Nicolaas',
 ' Tamas',
 ' Andries',
 ' Alessandro',
 ' Vincenzo',
 ' Hans',
 ' Luann Marie',
 ' Darrell Owen',
 ' Hiroshi',
 ' Giancarlo',
 ' Zebiniso',
 ' Valentina',
 ' Ellen',
 ' Annegret',
 ' Arnie',
 ' Bernd',
 ' Herman Ronald',
 ' Rosemarie',
 ' Johanna',
 ' Alberto',
 ' Klaus-Peter',
 ' Renate',
 ' Steven Earl',
 ' Christine',
 ' Frank',
 ' Dwayne Eugene',
 ' Millard Frank Jr.',
 ' Yuri',
 ' Burglinde',
 ' Nikolai',
 ' Dwight Edwin',
 ' Richard Charles',
 ' Tatiana',
 ' Tatiana',
 ' Jan',
 ' Alexander',
 ' Renate',
 ' Aleksandr',
 ' Gregory',
 ' Anatoli',
 ' Valery',
 ' Nikolina',
 ' Bronislaw',
 ' Gunhild',
 ' Sheila Rena',
 ' James A.',
 ' Maxwell Lander',
 ' Vera',
 ' Wolfgang',
 ' Kathryn Joan',
 ' Rosalyn Evette',
 ' Marlies',
 ' Paul-Heinz',
 ' John Gates',
 ' Nadezhda',
 ' Ryszard',
 ' Nikolai',
 ' John',
 ' Elfi',
 ' Tatiana',
 ' Waldemar',
 ' Lothar',
 ' Carla',
 ' J�rg',
 ' Ivo',
 ' Ivo',
 ' Willie',
 ' Daniel',
 ' Evelin',
 ' Annegret',
 ' B�rbel',
 ' Jerzy',
 ' Christina',
 ' Ivanka Mikailova',
 ' Siegrun',
 ' Doris',
 ' Natalya',
 ' Guido',
 ' Udo',
 ' Frank',
 ' Natalya',
 ' Yevgeni',
 ' Michael Lyle',
 ' Edwin',
 ' William Bruce',
 ' Anders',
 ' Tadeusz',
 ' Angela',
 ' Millard Frank Jr.',
 ' Yuris',
 ' Peter',
 ' Donald',
 ' David Luther',
 ' Herman Ronald',
 ' Inge',
 ' Viktor',
 ' Ellen',
 ' Lasse',
 ' B�rbel',
 ' Christina',
 ' Lasse',
 ' Zbigniew',
 ' Randel Luvelle',
 ' Klaus-Dieter',
 ' Brendan',
 ' Miklos',
 ' Inta',
 ' Frank Charles',
 ' Nadezhda',
 ' Lyudmila',
 ' Gheorghe',
 ' Dick Theodorus',
 ' Hans',
 ' Jacek',
 ' Frederick Vaughn',
 ' Ruth',
 ' Harvey Edward',
 ' Brigitte',
 ' Catherine Laverne',
 ' Yordanka',
 ' Yevgeni',
 ' Karel',
 ' Elvira',
 ' Renate',
 ' Benjamin Gene',
 ' Annegret',
 ' Donald',
 ' Carlos',
 ' Frederick Vaughn',
 ' Hannu Juhani',
 ' Antti Tapani',
 ' Nadezhda',
 ' Guy',
 ' Joao Carlos',
 ' Aleksei',
 ' Gabriele',
 ' Valery',
 ' Lidia',
 ' Irena',
 ' Helena',
 ' Manfred',
 ' Franz-Peter',
 ' Sara',
 ' Harald',
 ' Pamela',
 ' Maria',
 ' Alberto',
 ' Malcolm Maurice',
 ' Deborah Elaine',
 ' Alejandro',
 ' Ulrike',
 ' John Wesley',
 ' Inge',
 ' Aleksandr',
 ' Tatiana',
 ' Hasely',
 ' Liudmila',
 ' Annegret',
 ' Marion',
 ' Blagoje',
 ' Girgina',
 ' Tatiana',
 ' Snezhana',
 ' Nancy Lizabeth',
 ' Tatiana',
 ' Gail Annette',
 ' Scott Glenn',
 ' Charlotte',
 ' Mikhail',
 ' Mitchell',
 ' Penka',
 ' Adrian Delano',
 ' Vinko',
 ' Raisa',
 ' Krassimira',
 ' Kresimir',
 ' Steven',
 ' Nelli',
 ' Angelia',
 ' Susan Marie',
 ' Kenneth Alan',
 ' Anatoli',
 ' Petkana',
 ' Vladimir',
 ' Nadezhda',
 ' Walter Paul',
 ' Krasimira',
 ' Cinderella Jane',
 ' Damir',
 ' Olga',
 ' Sergei',
 ' Zoran',
 ' Mirza',
 ' Ernest',
 ' Diana',
 ' Olga',
 ' Iuliana',
 ' Zarko',
 ' Thomas Joseph',
 ' William Quinn',
 ' Nadezhda',
 ' Ivan',
 ' Vladimir',
 ' Alzhan',
 ' Andro',
 ' Nadka',
 ' Patricia Ann',
 ' Aleksandr',
 ' Rajko',
 ' Lusia Mae',
 ' Patricia Sue',
 ' Phillip Gregory',
 ' Andrei',
 ' Nancy Lynn',
 ' Ann Elizabeth',
 ' Zeljko',
 ' Maria',
 ' Mary Anne',
 ' Penka',
 ' Aleksandr',
 ' Michael Taylor (Tate)',
 ' Dragan',
 ' Natalya',
 ' Valeri',
 ' Vladimir',
 ' Tamara',
 ' Drazen',
 ' Todorka',
 ' Margarita',
 ' Julienne Brazinski',
 ' Pedro Jos�',
 ' Viktor',
 ' Kazimierz',
 ' Vladimir',
 ' Luis Felipe',
 ' John',
 ' Leszek',
 ' David',
 ' Ray Charles',
 ' Patrick',
 ' Teofilo',
 ' Juan',
 ' Orlando',
 ' Angel',
 ' Ramon',
 ' Michael L.',
 ' Costica',
 ' Leonard',
 ' Jorge',
 ' Mircea',
 ' Ace',
 ' Victor',
 ' Rolando',
 ' Young Jo',
 ' Rufat',
 ' Clarence',
 ' Andres',
 ' Leszek',
 ' Jochen',
 ' Vasili',
 ' Byong Uk',
 ' Tadija',
 ' Janusz',
 ' Payao',
 ' Charles Michael',
 ' Richard',
 ' Simion',
 ' Jerzy',
 ' Sixto',
 ' Alexandru',
 ' Viktor',
 ' Reinhard',
 ' R�diger',
 ' Aleksandr',
 ' Jerzy',
 ' Aleksandr',
 ' Vasile',
 ' Nina',
 ' Sergei',
 ' Vasile',
 ' Frank-Peter',
 ' Matija',
 ' Herminio',
 ' Carola',
 ' Vladimir',
 ' Joachim',
 ' Zoltan',
 ' Bernd',
 ' Anna',
 ' Sergei',
 ' Larion',
 ' J�rgen',
 ' Istvan',
 ' Vasili',
 ' Yuri',
 ' Bernd',
 ' Geza',
 ' Tamas',
 ' Sergei',
 ' Sergei',
 ' Aleksandr',
 ' Gheorghe',
 ' B�rbel',
 ' Vladimir',
 ' Klara',
 ' Tatyana',
 ' R�diger',
 ' Oszkar',
 ' Matija',
 ' Policarp',
 ' Tamas',
 ' Klara',
 ' Luis Gregorio',
 ' Carola',
 ' Vladimir',
 ' Gheorghe',
 ' John',
 ' Zoltan',
 ' R�diger',
 ' Oszkar',
 ' Jose Ramon',
 ' Bernd',
 ' Aleksandr',
 ' Joachim',
 ' Tamas',
 ' Jose Maria',
 ' Andrzej',
 ' Sergei',
 ' Galina',
 ' Giuseppe',
 ' Ryszard',
 ' Mieczyslaw',
 ' Valeri',
 ' Verner',
 ' Tadeusz',
 ' Jorn',
 ' Jorgen Emil',
 ' Anatoli',
 ' Bernt',
 ' Stanislaw',
 ' Vladimir',
 ' Aavo',
 ' Gert',
 ' Mieczyslaw',
 ' Vladimir',
 ' Anton',
 ' Ian',
 ' Daniel',
 ' Klaus-J�rgen',
 ' Herman',
 ' Thomas',
 ' Hans-J�rgen',
 ' Michael John',
 ' Peter',
 ' Aleksandr',
 ' Ian',
 ' Robin',
 ' Gregor',
 ' G�nther',
 ' Michel',
 ' Hans',
 ' Vitali',
 ' Viktor',
 ' Gregor',
 ' Niels Christian',
 ' Christine',
 ' Hilda Carolyn',
 ' Harry',
 ' Doris',
 ' Gabriela',
 ' Christine',
 ' Dorothy Sarkis',
 ' Ulrich',
 ' Edith Louise',
 ' Harry',
 ' Reiner',
 ' Reiner',
 ' John Michael',
 ' Bruce Oram',
 ' Helmut',
 ' John Michael',
 ' Edmund Sloane',
 ' Wayne',
 ' Otto',
 ' Dennis',
 ' Mary Anne',
 ' Herbert',
 ' William',
 ' Karl',
 ' Edmund Sloane',
 ' Karl',
 ' Mervyn',
 ' Alwin',
 ' Michel',
 ' Paul',
 ' Francois',
 ' Jean Marcel',
 ' Edgar-Henri',
 ' Alwin',
 ' Hans G�nter',
 ' Francois',
 ' Stanny',
 ' S�nke',
 ' Marc',
 ' Eric',
 ' Michel',
 ' Hubert',
 ' Alexander',
 ' Alexandru',
 ' Elena',
 ' Mario Tullio',
 ' Tommaso',
 ' Volker',
 ' Thomas',
 ' Christian',
 ' Claudette',
 ' Valentina',
 ' Fabio',
 ' Carl',
 ' Jean-Blaise',
 ' Ioan',
 ' Mikhail',
 ' Corneliu',
 ' Giovanni Battista',
 ' Frederic',
 ' Veronique',
 ' Maria Consolata',
 ' Fabio',
 ' Michel',
 ' Reinhold',
 ' Vladimir',
 ' Leif',
 ' Daniel',
 ' Magda',
 ' Daniel',
 ' Alexander',
 ' Eduard',
 ' Mario Aldo',
 ' Klaus',
 ' Harald',
 ' Bernard',
 ' Ildiko',
 ' Angelo',
 ' Hans',
 ' Hans-J�rgen',
 ' Viktor',
 ' Edit',
 ' Olga',
 ' Elena',
 ' Christian',
 ' Carlo',
 ' Brigitte',
 ' Gy�z�',
 ' Valentina',
 ' Aleksander',
 ' G�ran',
 ' Stefano',
 ' Vladimir',
 ' Hans-J�rgen',
 ' Attilio',
 ' Nailia',
 ' Viktor',
 ' Daniel',
 ' Michele',
 ' Francois',
 ' Christine',
 ' Marin',
 ' Matthias',
 ' Ildiko',
 ' Viktor',
 ' Ildiko',
 ' Didier',
 ' Ildiko',
 ' Brigitte',
 ' Viktor',
 ' Rolf',
 ' Erk',
 ' Bernard',
 ' Wilfried',
 ' Hans-J�rgen',
 ' Wolfram',
 ' Dieter',
 ' Piotr',
 ' Oleg',
 ' Antoni',
 ' Leonid',
 ' Martin',
 ' Stefan',
 ' Mikhail',
 ' Roman',
 ' Hartmut',
 ' Lothar',
 ' Gerd',
 ' Hans-Ulrich',
 ' Kazimierz',
 ' Jan',
 ' Viktor',
 ' Aleksandr',
 ' Reinhard',
 ' Vladimir',
 ' Grzegorz',
 ' Vladimir',
 ' Jan',
 ' Hans-J�rgen',
 ' Aleksandr',
 ' Leonid',
 ' Viktor',
 ' Wladyslaw',
 ' Henryk',
 ' Gerd',
 ' Kazimierz',
 ' Andrzej',
 ' Wojciech',
 ' Zygmunt',
 ' Vladimir',
 ' J�rgen',
 ' Bernd',
 ' Leslaw',
 ' David',
 ' Henryk',
 ' Anatoli',
 ' Vladimir',
 ' Viktor',
 ' Henryk',
 ' Jerzy',
 ' Reinhard',
 ' Vladimir',
 ' Konrad',
 ' Gerd',
 ' Hiroshi',
 ' Mariana',
 ' Eizo',
 ' Nelli',
 ' Nikolay',
 ' Teodora',
 ' Nikolay',
 ' Sawao',
 ' Shun',
 ' Lyudmila',
 ' Eizo',
 ' Mitsuo',
 ' Carola',
 ' Vladimir',
 ' Lyudmila',
 ' Steffi',
 ' Gabriela',
 ' Eberhard',
 ' Elvira',
 ' Marta',
 ' Lyudmila',
 ' Georgeta',
 ' Nadia',
 ' Henry',
 ' Hiroshi',
 ' Gitta',
 ' Nelli',
 ' Sawao',
 ' Eizo',
 ' Maria',
 ' Lyudmila',
 ' Danut',
 ' Peter Martin',
 ' Rainer',
 ' Anca',
 ' Teodora',
 ' Zoltan',
 ' Michael',
 ' Mitsuo',
 ' Mitsuo',
 ' Hisato',
 ' Olga',
 ' Nelli',
 ' Nelli',
 ' Nikolay',
 ' Gennadi',
 ' Angelika',
 ' Nikolay',
 ' Marion',
 ' Lutz',
 ' Nadia',
 ' Carola',
 ' Teodora',
 ' Nikolay',
 ' Nadia',
 ' Vladimir',
 ' Roland',
 ' Mitsuo',
 ' Sawao',
 ' Svetlana',
 ' Vladimir',
 ' Nikolay',
 ' Aleksandr',
 ' Aleksandr',
 ' Vladimir',
 ' Olga',
 ' Michael',
 ' Wolfgang',
 ' Nadia',
 ' Kerstin',
 ' Bernd',
 ' Mitsuo',
 ' Nikolay',
 ' Nadia',
 ' Maria',
 ' Sergei',
 ' Marta',
 ' Anatoli',
 ' Zygfryd',
 ' Agota',
 ' Adrian',
 ' Kristina',
 ' Aleksandr',
 ' Cornel',
 ' Vladimir',
 ' Mikhail',
 ' Hannelore',
 ' Liudmila',
 ' Vasili',
 ' Aleksandr',
 ' Radu',
 ' Ilona',
 ' Mariya',
 ' Rafiga',
 ' Natalia',
 ' Larisa',
 ' Alexandru',
 ' Maria',
 ' Lyudmila',
 ' Waltraud',
 ' Jerzy',
 ' Werner',
 ' Nikolai',
 ' Yuri',
 ' Marion',
 ' Mircea',
 ' Andrzej',
 ' Valeri',
 ' Eva',
 ' Constantin',
 ' Liane',
 ' Vladimir',
 ' Cristian',
 ' Marianna',
 ' Tatyana',
 ' Petra',
 ' Lyudmila',
 ' Gabriele',
 ' Zinaida',
 ' Zsuzsa',
 ' Yuri',
 ' Zdzislaw',
 ' Eva',
 ' Aldona',
 ' Evgeni',
 ' Nina',
 ' Piotr',
 ' Henryk',
 ' Andrzej',
 ' Ryszard',
 ' Wlodzimierz',
 ' Christina',
 ' Tatiana',
 ' Mieczyslaw',
 ' Erzsebet',
 ' Roland',
 ' Ghita',
 ' Nicolae',
 ' Borbala',
 ' Evelyn',
 ' Rozalia',
 ' Janusz',
 ' Christina',
 ' Roswitha',
 ' Jerzy',
 ' Jan',
 ' Stefan',
 ' Gabriel',
 ' Silvia',
 ' Klara',
 ' Amalia',
 ' Alfred',
 ' Yuri',
 ' Katalin',
 ' Cezar',
 ' Galina',
 ' Liubov',
 ' Hannelore',
 ' Arthur',
 ' Terence',
 ' Stephen',
 ' Selwyn Gerald',
 ' Les',
 ' Paul',
 ' Graham',
 ' Thurman',
 ' Arshad Ali',
 ' Alan Lionel',
 ' James',
 ' Trevor',
 ' Gregory',
 ' Uz-Zaman',
 ' Sami Ullah',
 ' Barry',
 ' Khan',
 ' Nazim',
 ' Neil',
 ' Robert',
 ' David',
 ' Barry John',
 ' Shahnaz',
 ' Mahmood',
 ' Ronald',
 ' Trevor',
 ' Rashid III',
 ' Rasool',
 ' Saleem',
 ' John Hansen',
 ' Robert',
 ' Ud Din',
 ' Ramesh',
 ' Mohan',
 ' Mudassar Ashgar',
 ' Alan',
 ' Gregory',
 ' Iftikar Ahmed',
 ' Richard',
 ' Ian',
 ' Hussain',
 ' Malcolm',
 ' Hassan',
 ' Zia',
 ' Tony',
 ' Wayne',
 ' Thomas Douglas',
 ' Geoffrey',
 ' Valeri',
 ' Allen James',
 ' Haruki',
 ' Marian',
 ' Kazuhiro',
 ' Shota',
 ' Isamu',
 ' Keith',
 ' Hector',
 ' Sumio',
 ' Je-Aki',
 ' Koji',
 ' Patrick',
 ' Eun-Kyung',
 ' J�rg',
 ' David Colin',
 ' Felice',
 ' Slavko',
 ' G�nther',
 ' Young-Chul',
 ' Vladimir',
 ' Sergei',
 ' Jozsef',
 ' Ramaz',
 ' Jiri',
 ' Pavel',
 ' Jeremy Robert',
 ' Tamas',
 ' Janusz',
 ' Adrian Philip',
 ' Bohumil',
 ' Szvetiszlav',
 ' Tibor',
 ' Jan',
 ' Jan',
 ' Robert',
 ' Helma',
 ' Hugh Patrick',
 ' Wolfgang',
 ' Joachim',
 ' Angelika',
 ' Anna',
 ' Nadezhda',
 ' Lindsay',
 ' Ioana',
 ' Jutta',
 ' Yuri',
 ' Karl-Heinz',
 ' Trevor',
 ' Peter',
 ' Nikolai',
 ' Viola',
 ' Olga',
 ' Lyudmila',
 ' Reni',
 ' Pertti',
 ' Evgeni',
 ' Yuri',
 ' Hartmut',
 ' Christiane',
 ' Harald',
 ' Vaclav',
 ' Pavel',
 ' Liliana',
 ' Johannes',
 ' Frederick John',
 ' Christine',
 ' John C.',
 ' Michael Laurence',
 ' Werner',
 ' Peter-Michael',
 ' Maria',
 ' Richard James Scott',
 ' Olga',
 ' Liane',
 ' Margaret Ann',
 ' Mira',
 ' Roswietha',
 ' Henrietta',
 ' Gabriele',
 ' Ulrich',
 ' Michael',
 ' Zdravka',
 ' Gottfried',
 ' Timothy John',
 ' David Lindsay',
 ' Roland',
 ' Galina',
 ' Bernd',
 ' Mikhail',
 ' Anke',
 ' Brigitte',
 ' Ludvik',
 ' Marina',
 ' Larissa',
 ' Peter',
 ' Joan Louise',
 ' Arne',
 ' Petra',
 ' Hans-Ulrich',
 ' Simon Charles',
 ' Dieter',
 ' Klavdiya',
 ' Olga',
 ' Alexander',
 ' Vitautas',
 ' David',
 ' Karl-Heinz',
 ' Ginka',
 ' Stefan',
 ' Ralph',
 ' Anushavan',
 ' Calvin Thomas',
 ' Leonora',
 ...]

In [16]:
# Confirmo que tengan el mismo tamaño:
print(len(Apellidos))
print(len(Nombres))

15209
15209

In [17]:
# Finalmente, introduzco las columnas separadas de Nombres y Apellidos en 
# el dataframe. Tambien elimino la columna 'Athlete' Ya que no va a hacer
# falta:
Olimpiadas_final = Olimpiadas.copy()
Olimpiadas_final['Nombres'] = Nombres
Olimpiadas_final['Apellidos'] = Apellidos
Olimpiadas_final.drop(['Athlete'], axis = 1)
Olimpiadas_final.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,Nombres,Apellidos
0,Montreal,1976,Aquatics,Diving,3m springboard,"K�HLER, Christa",Women,GDR,East Germany,W,Silver,Christa,K�HLER
1,Montreal,1976,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze,Aleksandr,KOSENKOV
2,Montreal,1976,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold,Philip George,BOGGS
3,Montreal,1976,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver,Giorgio Franco,CAGNOTTO
4,Montreal,1976,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze,Deborah Keplar,WILSON

# Ejercicio 3:
Obtener medidas resumen del conjunto de datos. Cuál es el país que ganó mas medallas?

In [18]:
Olimpiadas_final.describe(include = 'all')

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal,Nombres,Apellidos
count,15209,15209.000000,15209,15209,15209,15209,15209,15209,15209,15209,15209,15209,15209
unique,9,NaN,28,41,293,11245,2,128,127,3,3,5573,8849
top,Sydney,NaN,Aquatics,Athletics,hockey,"PHELPS, Michael",Men,USA,United States,M,Bronze,Vladimir,KIM
freq,2014,NaN,2208,1523,817,16,9319,1978,1978,8772,5214,113,103
mean,NaN,1993.603261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,10.142002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1976.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,1984.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,1996.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,2004.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

El país que mas medallas gano en la historia de los juegos olimpicos es USA.

# Ejercicio 4:
Construir una tabla que muestre cuántas medallas obtuvieron los hombres en total en cada año que se realizó el evento.

In [19]:
Medallas_hombres = Olimpiadas_final.loc[Olimpiadas_final['Gender'] == 'Men']
Series_Años = Medallas_hombres.groupby(by = 'Year').count()['Gender']
Series_Años

Year
1976     916
1980     940
1984     968
1988    1008
1992    1105
1996    1067
2000    1125
2004    1099
2008    1091
Name: Gender, dtype: int64

In [20]:
Tabla = Series_Años.to_frame()
Tabla.columns = ['Conteo']
Tabla

      Conteo
Year
1976     916
1980     940
1984     968
1988    1008
1992    1105
1996    1067
2000    1125
2004    1099
2008    1091